*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Pagina Web Django
PaginaWeb_Admi/WEntorno/
__pycache__/
*.pyc
.env
*.zip
PaginaWeb_Admi/ExamenAPK/db.sqlite3
